<div class="form-group">
    <a ui-sref="admin.moods-add" class="btn btn-primary btn-admin">+ Créer</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Icone</th>
            <th>Nom</th>
            <th>Catégories</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="mood in ctrl.moods | orderBy : 'name'">
            <td>
                <div class="icon icon-mood active"
                     title="{{ mood.name }}">
                    <i class="fa fa-{{ mood.icon }}"
                       style="color: #{{ mood.color }};"></i>
                </div>
            </td>
            <td>
                {{ mood.name }}
            </td>
            <td>
                <span ng-repeat="category in mood.categories">
                    <category-icon category="category" small="true"></category-icon>
                </span>
            </td>
            <td>
                <div class="btn-group btn-group-xs">
                    <a ui-sref="admin.moods-edit({id:mood._id})" class="btn btn-info">Éditer</a>
                </div>
                <confirmation-button
                        class="btn-group-xs"
                        entity="mood"
                        action="ctrl.remove(entity)"></confirmation-button>
            </td>
        </tr>
    </tbody>
</table>