(function(){
    'use strict';

    angular.module('app')
        .service('parameters', [function(){
            var _this = this;
            angular.merge(_this, {
                mapboxKey: 'API KEY'
            });
        }]);
})();