<a ui-sref="admin.categories-add" class="btn btn-primary btn-admin">+ Créer</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Icone</th>
            <th>Nom</th>
            <th>Lieux</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="category in ctrl.categories | orderBy : '+name'">
            <td>
                <div class="icon" style="background-color:#{{ category.color }};">
                    <i class="fa fa-{{ category.icon }}"></i>
                </div>
            </td>
            <td>
                {{ category.name }}
            </td>
            <td>
                {{ category.total }}
            </td>
            <td>
                <div class="btn-group btn-group-xs">
                    <a ui-sref="admin.categories-edit({id:category._id})" class="btn btn-info">Éditer</a>
                </div>
                <confirmation-button
                        class="btn-group-xs"
                        entity="category"
                        action="ctrl.remove(entity)"></confirmation-button>
            </td>
        </tr>
    </tbody>
</table>