<form ng-submit="ctrl.search()" novalidate>
    <span class="brand hidden-xs">eOli</span>

    <div class="pull-right">
        <div class="form-group moods">
            <div ng-repeat="mood in ctrl.form.moods | orderBy : 'name'">
                <div class="icon icon-mood"
                     title="{{ mood.name }}"
                     data-value="{{ mood._id }}">
                    <div class="cover"
                         style="background-color: #{{ mood.color }};"></div>
                    <i class="fa fa-{{ mood.icon }}"
                       style="color: #{{ mood.color }};"></i>
                </div>
            </div>
        </div>

        <div class="btn-group time" dropdown>
            <button class="btn dropdown-toggle" type="button" dropdown-toggle>
                <span data-ref="value">Maintenant</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a data-value="now">Maintenant</a>
                    <a data-value="later">Plus tard</a>
                    <a data-value="tonight">Ce soir</a>
                </li>
            </ul>
        </div>

        <div>
            <button type="submit" class="button"
                    ng-disabled="ctrl.loading">
                <span ng-if="!ctrl.loading">GO</span>
                <span ng-if="ctrl.loading"><i class="fa fa-refresh fa-spin"></i></span>
            </button>

            <button type="button" class="button button-admin"
                    ng-if="ctrl.user.isLoggedIn()"
                    ui-sref="admin">
                A
            </button>
        </div>
    </div>
</form>