section.admin {
    padding-top: 50px;
    margin-bottom: 40px !important;

    table td {
        vertical-align: middle !important;
    }

    .map-admin {
        height: 220px;
        margin: 10px 0;
    }

    form {
        .ng-dirty {
            &.ng-valid {
                border-color: #3c763d;
            }

            &.ng-invalid {
                border-color: #a94442;
            }
        }

        img:not([class^=leaflet]) {
            max-width: 128px;
            max-height: 128px;
        }
    }
}