section.public {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    & > * {
        position: absolute;
    }

    .map {
        width: 100vw;
        height: 100vh;
    }

    .panel {
        display: inline-block;
        margin: 10px;

        z-index: 10;

        form {
            label {
                display: block;
            }

            .form-moods {
                & > div {
                    cursor: pointer;
                    display: inline-block;
                    text-align: center;
                    margin: 0 6px;
                }
            }
        }
    }

    nav.navbar {
         $height: 50px;
         $brand-color: #1BBC9B;
         border: none;
         min-height: $height;
         line-height: $height - 1px;
         background-color: #f9f9f9;
         z-index: 10;

         position: fixed;
         top: 0;
         left: 0;
         right: 0;

         form > * {
             vertical-align: middle;

             & > * {
                 margin: 0 10px;
                 display: inline-block;

                 &:last-of-type {
                     margin-right: 0;
                 }
             }
         }

         .brand {
             display: inline-block;
             color: $brand-color;
             font-weight: bold;
             font-size: 1.5em;
         }

        .time > .btn {
            padding: 5px 12px;
        }

         .moods {
             margin: 0;
             display: inline-block;

             & > * {
                 cursor: pointer;
                 display: inline-flex;
                 margin: 0 4px;
             }
         }

         button.button {
             color: white;
             border: none;
             height: $height;
             width: $height;
             font-weight: bold;
             background-color: $brand-color;
             text-transform: uppercase;

             &.button-admin {
                 background-color: #BA54D7;
             }
         }
    }
}