<link href="assets/css/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="ctrl.navbarCollapsed = !ctrl.navbarCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="admin">Administration</a>
        </div>

        <div class="navbar-collapse" collapse="ctrl.navbarCollapsed">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="admin.places">Lieux</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="admin.categories">Catégories</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="admin.links">Liens</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ui-sref="public">Revenir au site</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1>{{ ctrl.title }}</h1>

    <div ui-view></div>

    <div class="toasts hidden" ng-class="{hidden: ctrl.toastsHidden, danger: ctrl.toastsMessage.isError}">
        <div class="container">
            {{ ctrl.toastsMessage.text }}
        </div>
    </div>
</div>