<form-admin>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Catégorie 1</label>
                <select class="form-control"
                        ng-options="category._id as category.name for category in ctrl.categories | orderBy: '+name'"
                        ng-model="ctrl.link.categories[0]"
                        required
                        >
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Catégorie 2</label>
                <select class="form-control"
                        ng-options="category._id as category.name for category in ctrl.categories | orderBy: '+name'"
                        ng-model="ctrl.link.categories[1]"
                        required
                        >
                </select>
            </div>
        </div>
        <p ng-bind="ctrl.errors.categories" class="text-danger"></p>
    </div>

    <p class="text-danger" ng-if="ctrl.existing">
        Une liaison existe déjà entre ces deux catégories. <a ui-sref="admin.links-edit({id: ctrl.existing})">Accéder à cette liaison</a>
    </p>

    <div class="form-group">
        <label>Périodes</label>
        <link-setter ng-model="ctrl.link.relations" periods="ctrl.periods"></link-setter>
    </div>
</form-admin>