<form-admin>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Catégorie 1</label>
                <select class="form-control"
                        ng-options="category._id as category.name for category in ctrl.categories | orderBy: '+name'"
                        ng-model="ctrl.link.categories[0]"
                        required
                        >
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Catégorie 2</label>
                <select class="form-control"
                        ng-options="category._id as category.name for category in ctrl.categories | orderBy: '+name'"
                        ng-model="ctrl.link.categories[1]"
                        required
                        >
                </select>
            </div>
        </div>
        <p ng-bind="ctrl.errors.categories" class="text-danger"></p>
    </div>


    {{ ctrl.link }}

    <div class="form-group">
        <label>Périodes</label>
        <div ng-repeat="periods in ctrl.periods">
            <div class="row">
                <div class="col-xs-6">
                    {{ period.name }}
                </div>
                <div class="col-xs-6">
                    <input type="number" step="10" min="0" max="100" ng-model="ctrl.relations">
                </div>
            </div>
        </div>
    </div>
</form-admin>