<div class="form-group">
    <a ui-sref="admin.links-add" class="btn btn-primary btn-admin">+ Créer</a>
</div>

<div class="form-group">
    <input type="text" ng-model="search.categories.name" class="form-control" placeholder="Chercher des catégories liées..."/>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Catégories</th>
            <th>Relations</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="link in ctrl.links | filter : search">
            <td>
                <category-icon category="link.categories[0]" small="true"></category-icon>
                <category-icon category="link.categories[1]" small="true"></category-icon>
            </td>
            <td>
                <span ng-repeat="relation in link.relations">
                    <b>{{ relation.period.name }}</b> : {{ relation.value }}{{$last ? '' : ', '}}
                </span>
            </td>
            <td>
                <div class="btn-group btn-group-xs">
                    <a ui-sref="admin.links-edit({id:link._id})" class="btn btn-info">Éditer</a>
                </div>
                <confirmation-button
                        class="btn-group-xs"
                        entity="link"
                        action="ctrl.remove(entity)"></confirmation-button>
            </td>
        </tr>
    </tbody>
</table>