<form-admin>
    <leaflet class="map-admin" center="ctrl.map.center" defaults="ctrl.map.defaults"></leaflet>
    <div class="form-group">
        <label>Nom</label>
        <input ng-model="ctrl.place.name" class="form-control" required>
        <p ng-bind="ctrl.errors.name" class="text-danger"></p>
    </div>
    <div class="form-group">
        <label>Catégorie</label>
        <select class="form-control"
                ng-options="category._id as category.name for category in ctrl.categories"
                ng-model="ctrl.place.category"
                required
                >
        </select>
        <p ng-bind="ctrl.errors.category" class="text-danger"></p>
    </div>
    <button type="button" class="btn btn-default" ng-click="ctrl.find()">Compléter avec Google</button>
    <div class="form-group">
        <label>Adresse</label>
        <input ng-model="ctrl.place.address" class="form-control" required>
        <p ng-bind="ctrl.errors.address" class="text-danger"></p>
    </div>
    <div class="form-group">
        <label>Latitude</label>
        <input ng-model="ctrl.place.lat" class="form-control" required>
        <p ng-bind="ctrl.errors.lat" class="text-danger"></p>
    </div>
    <div class="form-group">
        <label>Longitude</label>
        <input ng-model="ctrl.place.lng" class="form-control" required>
        <p ng-bind="ctrl.errors.lng" class="text-danger"></p>
    </div>
</form-admin>