<div class="form-group">
    <a ui-sref="admin.places-add" class="btn btn-primary btn-admin">+ Créer</a>
</div>

<div class="form-group">
    <input type="text" class="form-control" placeholder="Chercher un lieu..."
           ng-model="ctrl.filter"
           ng-change="ctrl.research()"
           ng-model-options="{ debounce: 160 }"
           autofocus="autofocus"/>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Catégorie</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="place in ctrl.places | orderBy : '+name'">
            <td>
                <category-icon category="place.category" small="true"></category-icon>
            </td>
            <td>
                {{ place.name }}
            </td>
            <td>
                {{ place.address }}
            </td>
            <td>
                <div class="btn-group btn-group-xs">
                    <a ui-sref="admin.places-edit({id:place._id})" class="btn btn-info">Éditer</a>
                </div>
                <confirmation-button
                        class="btn-group-xs"
                        btn-class="place.activated ? 'btn-success' : 'btn-warning'"
                        btn-text="place.activated ? 'Activé' : 'Désactivé'"
                        menu-text="place.activated ? 'Désactiver' : 'Activer'"
                        entity="place"
                        action="ctrl.toggleActivated(entity)"></confirmation-button>
                <confirmation-button
                        class="btn-group-xs"
                        entity="place"
                        action="ctrl.remove(entity)"></confirmation-button>
            </td>
        </tr>
    </tbody>
</table>